<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D0F43091E73CD1700DAF12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D0F43201E73CD1700DAF12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D0F432B1E73CD1700DAF12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
